<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strava YEARS in Sport</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/dashboard.js" defer></script>
  </head>
  <body>
    <div class="container">
      <input type="hidden" id="accessToken" value="<%= accessToken %>" />
      <h1>Your Run Stats</h1>
      <div class="loading">
        <p>Loading your stats, please wait...</p>
        <p>
          Note: this may take a few minutes, depending on how many years you
          have been using Strava. Please be patient and don't refresh the page!
        </p>
      </div>
      <div class="stats" style="display: none">
        <canvas id="statsChart" width="400" height="200"></canvas>
      </div>
    </div>
  </body>
</html>
