<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strava YEARS in Sport</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/dashboard.js" defer></script>
  </head>
  <body>
    <div class="container">
      <input type="hidden" id="accessToken" value="<%= accessToken %>" />
      <h1>Your Run Stats</h1>
      <div class="loading">
        <p>Loading your stats, please wait...</p>
        <p>(trust me, it's working, it can just take a minute or a few)</p>
      </div>
      <div class="stats" style="display: none">
        <table id="statsTable" border="1">
          <thead>
            <tr>
              <th>Year</th>
              <th>Distance</th>
              <th>Elevation Gain</th>
              <th>Elapsed Time</th>
            </tr>
          </thead>
          <tbody>
            <!-- Data will be populated here by dashboard.js -->
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
