<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Strava YEARS in Sport</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to YEARS in Sport</h1>
    <img src="/images/api_logo_pwrdBy_strava_horiz_light.svg" alt="Powered by Strava">
    <p>This web app is made for those longtime Strava users who are not content to reflect on only one year worth of metrics. Gimme the data!</p>
    <a href="<%= authUrl %>">
      <img src="/images/btn_strava_connectwith_orange.svg" alt="Connect with Strava">
    </a>
  </div>
  <footer>
    <p>Interested in contributing? Check out the project on <a href="https://github.com/leibovic/strava-stats" target="_blank">GitHub</a>.</p>
  </footer>
</body>
</html>
